---
layout: indexExtend
eleventyExcludeFromCollections: true
---
<div class="title">
    <span>{{ config.blog.description.logo }}&nbsp</span>
    
</div>
<input id="check" type="checkbox" checked="checked">
<label for="check" style="display: block;text-align: center;margin-top: 1em;">💊</label>
<div class="discp">
    <div>
        
        <input type="radio" id="profileA" name="profile">
        <label for="profileA" id="disA">🐣</label>
        <div class="discription">
            <p class="beetsaid">
                <strong>破壳：</strong><br>
                11ty助力，💕加持，终使博客破壳。这根时傻时专注的beet，诚邀屏幕前的小朋友进cabin🏯玩耍。<br>
                <small style="float: right;">2020.3.3 by beet</small>
            </p>
        </div>
    </div>
    <div>
        
        <input type="radio" id="profileB" name="profile">
        <label for="profileB" id="disB">🐤</label>
        <div class="discription">
            <p class="beetsaid">
                <strong>专注：</strong><br>
                <code>前端开发</code><br>
                <code>Git</code><br>
                <code>Linux</code><br>
            </p>
        </div>
    </div>
    <div>
        
        <input type="radio" id="profileC" name="profile">
        <label for="profileC" id="disC">🐥</label>
        <div class="discription">
            <p class="beetsaid">
                <strong>活跃：</strong><br>

                博客源码在
                <a href="{{ config.blog.components.sociallogo.githubBlog }}">
                    <svg class="svg-icon">
                        <use xlink:href="/src/icon.svg#github" /></svg>
                </a><br>
                博文同步于 
                <a href="{{ config.blog.components.sociallogo.zhihu }}">
                    <svg class="svg-icon">
                        <use xlink:href="/src/icon.svg#zhihu" /></svg>
                </a><br>
                划水于：
                <a href="{{ config.blog.components.sociallogo.qq }}">
                    <svg class="svg-icon">
                        <use xlink:href="/src/icon.svg#qq" /></svg>
                </a>
                <a href="{{ config.blog.components.sociallogo.wechat }}">
                    <svg class="svg-icon">
                        <use xlink:href="/src/icon.svg#wechat" /></svg>
                </a><br>
                正经在： 
                <a href="{{ config.blog.components.sociallogo.telegram }}">
                    <svg class="svg-icon">
                        <use xlink:href="/src/icon.svg#telegram" /></svg>
                </a>
                <a href="{{ config.blog.components.sociallogo.twitter }}">
                    <svg class="svg-icon">
                        <use xlink:href="/src/icon.svg#twitter" /></svg>
                </a><br>
            </p>
        </div>
    </div>
</div>