---
pagination:
    data: collections
    size: 10000
    alias: tags
    filter: all
permalink: /tags/
eleventyExcludeFromCollections: true
layout: "home"
---
<div class="subPage">
    <ul>
{% for tag in tags %}
	&gt; {{ tag }}
	{% set taglist = collections[ tag ] %}
	{% for post in taglist | reverse %}
	<li><a href="{{ post.url | url }}">{{ post.data.title }}</a></li>
	{% endfor %}
{% endfor %}
    </ul>
</div>
