---
title: about me
eleventyExcludeFromCollections: true
layout: home
permalink: /about/
---
<div class="subPage">
    <ul>
	> 破壳🐣:
	<li>11ty助力，[爱心]加持，终使博客破壳🍕。我是时傻时专注的beet, 欢迎来游~~~

	——2020.3.3 by beet</li>
    </ul>
    <ul>
	> 活跃🐤:
	<li>
	博客源码在
	<a href="{{ config.blog.components.social.github }}">
	<svg class="svg-icon">
	<use xlink:href="/static/assets/icon.svg#github" /></svg>
	</a><br>
	博文同步于 
	<a href="{{ config.blog.components.social.zhihu }}">
	<svg class="svg-icon">
	<use xlink:href="/static/assets/icon.svg#zhihu" /></svg>
	</a><br>
	划水于：
	<a href="{{ config.blog.components.social.qq }}">
	<svg class="svg-icon">
	<use xlink:href="/static/assets/icon.svg#qq" /></svg>
	</a>
	<a href="{{ config.blog.components.social.wechat }}">
	<svg class="svg-icon">
	<use xlink:href="/static/assets/icon.svg#wechat" /></svg>
	</a><br>
	正经在： 
	<a href="{{ config.blog.components.social.telegram }}">
	<svg class="svg-icon">
	<use xlink:href="/static/assets/icon.svg#telegram" /></svg>
	</a>
	<a href="{{ config.blog.components.social.twitter }}">
	<svg class="svg-icon">
	<use xlink:href="/static/assets/icon.svg#twitter" /></svg>
	</a><br>
	</li>
    </ul>
    <ul>
	> CV:
	<li>
	Linux & frontend lover , vimer
	</li>
    </ul>

</div>
