---
layout: base
permalink: "{{ post }}/index.html"
---
<article style="margin: 0 auto" class="article">
    <h1 class="title">{{ title }}</h1>
    <div class="content">
        {{ content | safe }}
    </div>
    <div class="outline"></div>
</article>